<!-- Toolbar -->
<header>
  <img
  width="40"
  alt="Logo"
  src="../assets/icons/url_shortener.png"
  />
  <h1> {{title}}</h1>
  <div id="social-icons">
    <a aria-label="Developer Github Account" target="_blank" rel="noopener" href="https://github.com/Sellumg/Linkzip" title="Github">
      <img src="../assets/icons/github.svg" alt="Github Logo">
    </a>
    <a aria-label="Developer LinkedIn Account" target="_blank" rel="noopener" href="https://www.linkedin.com/in/axel-israel-martinez-adan-727b41231/" title="LinkedIn">
      <img src="../assets/icons/linkedin.svg" alt="LinkedIn logo">
    </a>
  </div>
</header>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<main>
  <section id="tool">
    <form>
      <mat-form-field >
        <input matInput type="text" placeholder="Input The URL"  [formControl]="url" autofocus (keydown)="onKeyDown($event)">
        <mat-hint>{{errorMessage}}</mat-hint>
      </mat-form-field>

      <button id="button" mat-raised-button (click)="getShortLink()" type="button" [disabled]="url.pristine || isBtnDisabled"> Shorten </button>
    </form>
    <div id="wrapper" *ngIf="urlShortStatus">
      <div id="results" *ngFor="let shortCode of urlShortCode; index as i">
        <p> Short URL {{i+1}}:
          <a [href]="shortCode.short_link_href" target="_blank" rel="noopener">{{shortCode.short_link}}</a>
        </p>
      </div>
    </div>



  </section>
</main>

<footer>
   &copy; 2023 Hahn Softwareentwicklung Interview Project
</footer>
